In [2]:
import sys
print('python', sys.version)

import os

import numpy as np
print('numpy', np.__version__)

import pandas as pd
print('pandas', pd.__version__)

import matplotlib as mpl
print('matplotlib', mpl.__version__)

import matplotlib.pyplot as plt
import scipy.stats

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

python 3.8.3 (default, Jul  2 2020, 17:30:36) [MSC v.1916 64 bit (AMD64)]
numpy 1.19.1
pandas 1.1.1
matplotlib 3.3.1

In [3]:
import statsmodels.stats.multitest as mt

for file_name in ['shRNA_M003_I10_WO_Exp', 'shRNA_M003_I10_WI_Exp', 'CRISPER_M003_I10_WO_Exp', 'CRISPER_M003_I10_WI_Exp']:
    df1=pd.read_table('result_SL/{}.txt'.format(file_name),sep='\t')
    df1=df1.loc[df1['p_val'].notnull()]
    df1['fdr']=mt.multipletests(df1['p_val'],method='fdr_bh')[1]
    df1.to_csv('result_SL/{}_fdr.txt'.format(file_name),index=False,sep='\t')

In [3]:
df1=pd.read_table('result_SL/CRISPER_M003_I10_WO_Exp_fdr.txt')

In [4]:
df1

             mut_gene dep_gene    t_val     p_val       fdr
0                 A2M     H3C2 -0.13901  0.890180  0.994105
1                 A2M     TMC7  0.26249  0.794344  0.987947
2                 A2M      AUH -1.28474  0.206635  0.915332
3                 A2M     AQP1 -0.09981  0.921036  0.995886
4                 A2M   COL5A2 -1.20072  0.237278  0.921963
...               ...      ...      ...       ...       ...
81008145  FPGT-TNNI3K    JOSD1  0.14593  0.884485  0.993773
81008146  FPGT-TNNI3K      PDC -1.12757  0.264591  0.927342
81008147  FPGT-TNNI3K  GPALPP1  2.73008  0.008506  0.784183
81008148  FPGT-TNNI3K    TYRO3  1.13887  0.259580  0.926414
81008149  FPGT-TNNI3K    CCDC6 -1.37582  0.174610  0.907603

[81008150 rows x 5 columns]